@font-face {
    font-family: mine;
    src: url(Emirola\ Demo.ttf);
}

/*header*/
*
{
    padding: 0px;
    margin: 0px;
}
header
{
    position: fixed;
    height: 110px;
    width: 100%;
    border: 2px #BDB5D5 solid;
    background-color: #3A1845;
}
#rm
{
        padding-top: 10px;
        text-align: center;
        font-family: mine;
        color: #957C3D;
}
.ol {  
    background-color: #3A1845;
    color: #957C3D; 
}

.ol .l1 {
    list-style-type: none;
    display: inline-block; 
    font-size: 20px;
    margin-left: 25.5px;
}

.l1 a {
    font-size: 20px;
    color: #957C3D;
    text-decoration: none;
}

.l1 a:hover {
    text-decoration: underline;
    background-color: #C9A753;
    color: #3A1845;
    padding: 2px;
    border-radius: 8px;

}
#list {
    padding-top: 30px;
    background-color: #3A1845;
    display: grid;
    grid-template-columns: 25% 55% 20%;
}
/*div*/
#div
{
    margin: 0px;
    padding-top: 0px;
    width: 1906px;
}
video
{
width: 1906px;
}
video :hover
{
    cursor: none;
}
/* main*/
main
{
    height: 1000px;
    width: 100%;
    border: 2px #BDB5D5 solid;
    display: flex;
}
aside
{
    width: 300px;
    height: 1000px;
    background-color:#BDB5D5;
}
details
{
    height: 960px;
}

summary {
    font-size: 28px;
    color: #957C3D;
}

table {
    width: 300px;
    margin-top: 10px;
    background-color: #3A1845;
    color: #957C3D;
}

table th td {
    border: 2px solid #957C3D;
    padding: 10px;
    text-align: center;
    height: 200px;
}

th {
    font-size: 28px;
}

td a {
    font-size: 21px;
    color: #957C3D;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
    color: #C9A753;
}

table tr:hover {
    background-color: #523C5C;
}
article
{
        text-align: justify;
        column-count: 3;
        column-gap: 30px;
        column-rule: 3px solid #3A1845;
        margin: 10px solid #BDB5D5;
    width: 1700px;
    background-color:  #BDB5D5;
}
#story
{
    padding-top: 20px;
    font-size: 21px;
    height: 310px;
    background-color: #3A1845;
    border: #957C3D 2px solid;
    border-radius: 25px;
    text-align: justify;
}
.h3
{
    background-color: #3A1845;
    color: #957C3D;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    border: #957C3D 2px solid;
}
.kabali
{
    height: 300px;
    width: 500px;
    margin-left: 5px;
}
.kaba
{
    height: 600px;
    width: 900px;
    margin-left: 5px;
    border: 2px solid #957C3D;

}
.kab
{
    height: 350px;
    width: 600px;
    margin-left: 5px;
}
.para
{
    margin: 20px;
    color: #3A1845;
    font-size: 21px;
    text-align: justify;

}
#cars
{
    height: 5600px;
    width: 1906px;
    background-color: #BDB5D5;
    margin: 5px solid #BDB5D5;
    border: #3A1845 2px solid;
}
.gallery1
{
    background-color: #3A1845;
    color: #957C3D;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
    margin: 10px solid #bdb5d5;
}
.gallery
{
    display: flex;
    justify-content: space-evenly;
}
.cars
{
    border: #3A1845 2px solid;
    display: flex;
    justify-content: space-evenly;
}
.l
{
    padding: 10px;
    padding-bottom: 10px;
    list-style-type: disc;
}
.ll
{
    background-color: #3A1845;
     height: 600px;
    width: 900px;
    margin-left: 5px;
    border: 2px solid #957C3D;
}
.lll
{
    font-size: 21px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;

}
/* Footer */
#contact {
    background-color:  #BDB5D5;
    width: 1906px;
    padding: 20px 0;
    text-align: center;
}

#contact .foot {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color:  #BDB5D5;

}

#contact ul {
    list-style-type: none;
    text-align: left;
}

#contact ul li {
    margin-bottom: 10px;
    color: #3A1845;
}

#contact ul li.abcd {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 15px;
}

#contact p.www {
    margin: 15px 0;
    color: #3A1845;
    font-size: 1.1em;
}

#contact p.www a {
    color: #3A1845;
    text-decoration: none;
}

#contact .contact {
    background-color:#3A1845;
    ;
    padding: 15px;
    color: #957C3D;
    font-size: 0.9em;
}

#contact .contact a {
    color: #957C3D;
    text-decoration: underline;
}